# Build output
x64/
build/
.vs/
VulkanRenderer/
bin/
lib/

# Visual Studio
*.sln
*.slnx
*.user
*.VC.db
*.ipch
*.pdb
*.obj
*.ilk
*.idb
*.log
*.tlog
*.exe
*.cache
*.editorconfig
*.ini

# Misc
Renderer-Goals.txt

# Assets
res/cache/
res/assets/bistro/
res/assets/sponza_intel/
res/assets/San_Miguel/
res/assets/node_modules/
res/assets/*.mjs
res/assets/*.tsv
res/assets/*.txt
res/assets/package-lock.json

!res/assets/envhdr/
!res/assets/city/
!res/assets/noise/
!res/assets/flashlight_cookie/
!res/assets/smaa_tex/
!res/assets/*.glb
!res/assets/**/*.glb

res/assets/Bistro.glb

# Shaders
*.spv
*.spv.dis
res/shaders/cache/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/

# NRD generated libraries
vendor/nrd/Lib/

# Vulkan
vk_layer_settings.txt

!src/
!res/
!vendor/

# Libraries
lib/
vendor/Vulkan/lib/

# Keep prebuilt GLFW library
!vendor/GLFW/lib/
!vendor/GLFW/lib/**